<!DOCTYPE html>
<html>
<head>
  <title>Pricenium</title>
</head>

<body class="application">

  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.css"/>
  <script src="../static/lib/js/jquery.min.js"></script>
  <script src="../static/lib/js/bootstrap.min.js"></script>

  <script src="../static/lib/js/d3.js"></script>

  <script src="./static/lib/js/keen.min.js"></script>

  <script src='../static/js/lines.js' type='text/javascript'></script>


  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Dashboard</a>
      </div>
    </div>
  </div>

   <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                      <!-- Time Chart -->
                      <div class="col-sm-12">
                        <div class="chart-wrapper">
                          <div class="chart-title">
                            Prices Over the Past Week
                          </div>
                          <div class="chart-stage">
                            <div id="price-chart" width = "700" height = "700"></div>
                          </div>
                        </div>
                      </div>
                      <!-- Time Chart -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/holder.js"></script>

  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script src="./static/lib/js/keen.min.js"></script>
  <script src="./static/lib/js/meta.js"></script>

</body>
</html>
